body{
	background:#B3B3B3; /*comt*/
	font-size: 125%;

}
h1{
    color:chartreuse;                                                             /*char color*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;          /*font type*/
    font-variant: small-caps;                                                       /*font kind*/
    font-size: 500%;                                                                /*font size*/
    text-align: center;                                                             /*text position*/
    background-color:aqua;                                                        /*h1 bg color*/
}

